FRONTEND_URL="http://localhost:8080"
DB_URI="postgres://postgres:postgres@localhost:5432/crm?sslmode=disable"
SERVER_PORT=8080
JWT_SECRET="your-super-secret-key"
JWT_ISSUER="your-app-name"

NUMBER_OF_JOBS_PER_REQUEST=10000000
NUMBER_OF_WORKERS_PER_REQUEST=10
LENGTH_OF_JOB_QUEUE=1000

CHECKPOINT_NUMBER_OF_LEADS=50

OUTBOX_POLLING_INTERVAL=5m